doctype html
html
  head
    title Platzigram
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="css/app.css")
  body
    section#main-container
      .container
        .row
          .col.s10.push-s1
            .row
              .col.m5.hide-on-small-only
                img.iphone(src="img/iphone.png")
              .col.s12.m7
                .row
                  .signup-box
                    h1.platzigram Plazigram
                    form.signup-form
                      h2 Regístrate para ver fotos de tus amigos estudiantes de Platzi
                      .selection
                        a.btn.btn-fb.hide-on-small-only Iniciar sesión con Facebook
                        a.btn.btn-fb.hide-on-med-and-up Iniciar sesión
                      .divider
                      .section
                        input(type="text" name="email" placeholder="Correo Electrónico")
                        input(type="text" name="name" placeholder="Nombre completo")
                        input(type="text" name="username" placeholder="Nombre de usuario")
                        input(type="password" name="password" placeholder="Contraseña")
                        button.btn.waves-effect.waves-light.btn-signup(type="submit") Regístrate
                .row
                  .login-box
                    | ¿Tienes una cuenta? 
                    a(href="/signin") Entrar
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn.btn-flat(href="#" data-activates="dropdown-language") Idioma
            ul#dropdown-language.dropdown-content
              li
                a(href="#!") Español
              li
                a(href="#!") Inglés
          .col.s12.l3.push-l6.center-align
            | © 2018 Platzigram
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(type="application/javascript" src="js/app.js")
