doctype html
html
  head
    title Platzigram
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.3/css/all.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="css/app.css")
  body
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn.btn-flat(href="#" data-activates="dropdown-language") Idioma
            ul#dropdown-language.dropdown-content
              li
                a(href="#!") Español
              li
                a(href="#!") Inglés
          .col.s12.l3.push-l6.center-align
            | © 2018 Platzigram
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(type="application/javascript" src="js/app.js")
